DAILY_CHANGELOG_old.md
upgrader_test/
build/
dist/
tests/
logs/
app/tmp
app/data/user_data
app/data/app_data/*
!app/data/app_data/static
_internal/
*.pyc
*.spec
*.log
style.qss
exe_test/
my_tests/
patch/
session.lock
DAILY_CHANGELOG.md
