QLabel#BookTitleLabel {
    font-size: 18px;
    font-weight: bold;
}

QLabel#BookAuthorLabel {
    font-size: 15px;
    font-style: italic;
}

QLabel#BookReadingStateLabel {
    font-weight: bold;
}
